.about-page {
	background-color: #000;
	margin-top: 250px;
	position: relative;
	height: 100% !important;
}

.about-card {
	transition: 0.6s;
}

.about-card:hover  .description {
	transition: 0.6s;
	display: block;
	text-align: justify;
	width: 500px;
	
}

.name {
	left: 44%;
	top: 25%;
}