@import "./LightDarkMode.scss";

.light {
  .about-page {
    margin-top: 100px;
    position: relative;
    height: 100% !important;
    background-color: map-get($light-mode, --bg-color);
  }

  .iam {
    color: map-get($light-mode, --text-color);
  }

  .name {
    color: map-get($light-mode, --name-text-color);
  }

  .quote {
    color: map-get($light-mode, --text-color);
  }

  .description {
    color: map-get($light-mode, --description-text-color);
  }

  .profil-img {
    border: 4px solid map-get($light-mode, --img-border-color);
  }

  .about-card {
    transition: 0.6s;
  }
}

.dark {
  .about-page {
    margin-top: 100px;
    position: relative;
    height: 100% !important;
    background-color: map-get($dark-mode, --bg-color);
  }

  .iam {
    color: map-get($dark-mode, --text-color);
  }

  .name {
    color: map-get($dark-mode, --name-text-color);
  }

  .quote {
    color: map-get($dark-mode, --text-color);
  }

  .description {
    color: map-get($dark-mode, --description-text-color);
  }

  .profil-img {
    border: 4px solid map-get($dark-mode, --img-border-color);
  }

  .about-card {
    transition: 0.6s;
  }
}

.CSM {
  .about-page {
    margin-top: 100px;
    position: relative;
    height: 100% !important;
    background-color: map-get($CSM-mode, --bg-color);
  }

  .iam {
    color: map-get($CSM-mode, --text-color);
  }

  .name {
    color: map-get($CSM-mode, --name-text-color);
  }

  .quote {
    color: map-get($CSM-mode, --text-color);
  }

  .description {
    color: map-get($CSM-mode, --description-text-color);
  }

  .profil-img {
    border: 4px solid map-get($CSM-mode, --img-border-color);
  }

  .about-card {
    transition: 0.6s;
  }
}


// .about-card:hover  .description {
// 	transition: 0.6s;
// 	display: block;
// 	text-align: justify;
// 	width: 500px;

// }

.quote {
  margin-bottom: 6%;
  // -webkit-text-stroke-width: .4px;
  // -webkit-text-stroke-color: #C72931;
}

.name {
  left: 44%;
  top: 25%;
}

.description {
  @media only screen and (max-width: 350px) {
    display: none;
  }
}
