@import "./LightDarkMode.scss";

.about-page {
  scroll-snap-align: start;
}

.quote {
  @media only screen and (max-width: 1024px) {
    font-size: 40px;
  }
  @media only screen and (max-width: 640px) {
    font-size: 28px;
  }
}

.light {
  .about-page {
    margin-top: 100px;
    position: relative;
    // height: 100vh !important;
    background-color: map-get($light-mode, --bg-color);
  }

  .iam {
    color: map-get($light-mode, --text-color);
  }

  .name {
    color: map-get($light-mode, --name-text-color);
  }

  .quote {
    @media only screen and (min-width: 1024px) {
      -webkit-text-stroke: 3px map-get($light-mode, --stroke-text-color);   
    }
     color: map-get($light-mode, --text-color);
  }

  .intro {
    color: map-get($light-mode, --description-text-color);
  }

  .profil-img {
    // box-shadow: 18px 18px 5px map-get($light-mode, --img-border-color);
    border: 4px solid map-get($light-mode, --img-border-color);
  }

  .about-card {
    transition: 0.6s;
  }
  .tagline {
    color: map-get($light-mode, --welcom-button-text-color);
    border: 4px solid map-get($light-mode, --welcom-button-border-color);
    background: linear-gradient(
      90.21deg,
      map-get($light-mode, --welcom-button-color-1) -5.91%,
      map-get($light-mode, --welcom-button-color-2) 100%
    );
  }
  .connect-button {
    border: 4px solid map-get($light-mode, --connect-button-border-color);
    color: map-get($light-mode, --connect-button-text-color);
    background-color: map-get($light-mode, --connect-button-bg-color);
  }
  .connect-button:hover {
    color: map-get($light-mode, --connect-button-text-color-hover);
    background-color: map-get($light-mode, --bg-connect-button-color-hover);
  }
}

.dark {
  .about-page {
    margin-top: 100px;
    position: relative;
    // height: 100vh !important;
    background-color: map-get($dark-mode, --bg-color);
  }

  .iam {
    color: map-get($dark-mode, --text-color);
  }

  .name {
    color: map-get($dark-mode, --name-text-color);
  }

  .quote {
    @media only screen and (min-width: 1024px) {
      -webkit-text-stroke: 3px map-get($dark-mode, --stroke-text-color);   
    }
    color: map-get($dark-mode, --text-color);
  }

  .intro {
    color: map-get($dark-mode, --description-text-color);
  }

  .profil-img {
    // box-shadow: 18px 18px 5px map-get($dark-mode, --img-border-color);
    border: 4px solid map-get($dark-mode, --img-border-color);
  }

  .about-card {
    transition: 0.6s;
  }
  .tagline {
    color: map-get($dark-mode, --welcom-button-text-color);
    border: 4px solid map-get($dark-mode, --welcom-button-border-color);
    background: linear-gradient(
      90.21deg,
      map-get($dark-mode, --welcom-button-color-1) -5.91%,
      map-get($dark-mode, --welcom-button-color-2) 100%
    );
  }
  .connect-button {
    border: 4px solid map-get($dark-mode, --connect-button-border-color);
    color: map-get($dark-mode, --connect-button-text-color);
    background-color: map-get($dark-mode, --connect-button-bg-color);
  }
  .connect-button:hover {
    color: map-get($dark-mode, --connect-button-text-color-hover);
    background-color: map-get($dark-mode, --bg-connect-button-color-hover);
  }
}

.CSM {
  .about-page {
    margin-top: 100px;
    position: relative;
    // height: 100vh !important;
    background-color: map-get($CSM-mode, --bg-color);
  }

  .iam {
    color: map-get($CSM-mode, --text-color);
  }

  .name {
    color: map-get($CSM-mode, --name-text-color);
  }

  .quote {
    @media only screen and (min-width: 1024px) {
      -webkit-text-stroke: 3px map-get($CSM-mode, --stroke-text-color);   
    }
    color: map-get($CSM-mode, --text-color);
  }

  .intro {
    color: map-get($CSM-mode, --description-text-color);
  }

  .profil-img {
    // box-shadow: 18px 18px 5px map-get($CSM-mode, --img-border-color);
    border: 4px solid map-get($CSM-mode, --img-border-color);
  }

  .about-card {
    transition: 0.6s;
  }
  .tagline {
    color: map-get($CSM-mode, --welcom-button-text-color);
    border: 4px solid map-get($CSM-mode, --welcom-button-border-color);
    background: linear-gradient(
      90.21deg,
      map-get($CSM-mode, --welcom-button-color-1) -5.91%,
      map-get($CSM-mode, --welcom-button-color-2) 100%
    );
  }
  .connect-button {
    border: 4px solid map-get($CSM-mode, --connect-button-border-color);
    color: map-get($CSM-mode, --connect-button-text-color);
    background-color: map-get($CSM-mode, --connect-button-bg-color);
  }
  .connect-button:hover {
    color: map-get($CSM-mode, --connect-button-text-color-hover);
    background-color: map-get($CSM-mode, --bg-connect-button-color-hover);
    // transform: translateX(50%);
  }
}

.connect-button:hover {
  transition: transform 0.3s ease-in-out;
  transform: translateX(10%);
}

.quote {
  margin-bottom: 6%;
  // -webkit-text-stroke-width: .4px;
  // -webkit-text-stroke-color: #C72931;
}

.name {
  left: 44%;
  top: 25%;
}

.intro {
  @media only screen and (max-width: 350px) {
    display: none;
  }
}

.tagline {
  display: flex-wrap;
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  border-radius: 8px;
  font-size: 20px;
  display: inline-block;
  overflow-x: hidden;
}

.profil-img {
  animation: upDown 3s linear infinite;
}

@keyframes upDown {
  0% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateX(20px);
  }
  100% {
    transform: translateY(-20px);
  }
}

@keyframes downUp {
  0% {
    transform: translateY(20px);
  }
  50% {
    transform: translateX(-20px);
  }
  100% {
    transform: translateY(20px);
  }
}

.img-component-1 {
  animation: upDown 3s linear infinite;
  top: 7%;
  right: 2%;
  @media only screen and (max-width: 400px) {
    display: none;
  }
}

.img-component-2 {
  animation: downUp 3s linear infinite;
  bottom: 2%;
  left: 90%;
}

.img-component-3 {
  animation: downUp 3s linear infinite;
  bottom: 2%;
  left: 8%;
  @media only screen and (max-width: 400px) {
    display: none;
  }
}

.img-component-4 {
  animation: upDown 3s linear infinite;
  bottom: 2%;
  left: 60%;
}

.img-component-5 {
  animation: upDown 3s linear infinite;
  top: 12%;
  right: 60%;
  @media only screen and (max-width: 700px) {
    display: none;
  }
}

.img-component-6 {
  animation: upDown 3s linear infinite;
  top: 42%;
  right: 42%;
  @media only screen and (max-width: 1024) {
    display: none;
  }
}

@media (max-width: 1024px) {
  #profile-img-1 {
    display: none;
  }
}
