.about-page {
	background-color: #000;
	margin-top: 250px;
	position: relative;
	height: 100% !important;
}

.about-card {
	transition: 0.6s;
}

/* .about-card:hover  .description {
	transition: 0.6s;
	display: block;
	text-align: justify;
	width: 500px;
	
} */

.name {
	left: 44%;
	top: 25%;
}



.profil-img {
	box-shadow: 12px 12px 0px #FFFBDC;
	animation: upDown 3s linear infinite;
}

/* @keyframes upDown {
    0% {
        transform: translateY(-20px);
    }
    50% {
        transform: translateX(20px);
    }
    100% {
        transform: translateY(-20px);
    }
} */