.about-page {
	margin-top: 100px;
	position: relative;
	height: 100% !important;
}

.about-card {
	transition: 0.6s;
}

// .about-card:hover  .description {
// 	transition: 0.6s;
// 	display: block;
// 	text-align: justify;
// 	width: 500px;
	
// } 

.quote {
	margin-bottom: 6%;
	// -webkit-text-stroke-width: .4px;
	// -webkit-text-stroke-color: #C72931;
}

.name {
	left: 44%;
	top: 25%;
}

.description {
	
	@media only screen and (max-width: 350px) {
			display: none;
	}
}


