@import "./LightDarkMode.scss";

.contact-container {
  scroll-snap-align: start;
}

input:focus {
	outline: none;
}
textarea:focus {
	outline: none;
}

.send-button:hover {
    transition: transform 0.3s ease-in-out;
    transform: translateX(10%);
}

.light {
  .contact-container {
    border-top: 4px solid map-get($light-mode, --contact-container-border-color);
    border-bottom: 4px solid
      map-get($light-mode, --contact-container-border-color);
    background-color: map-get($light-mode, --bg-contact-color);
  }

  .title {
    @media only screen and (min-width: 1024px) {
      -webkit-text-stroke: 3px map-get($light-mode, --contact-stroke-text-color);   
      }
    color: map-get($light-mode, --contact-text-color);
  }

  .contact-text {
    color: map-get($light-mode, --paragraph-contact-color);
  }
  label {
    color: map-get($light-mode, --contact-label-color);
  }
  input {
    border: 3px solid map-get($light-mode, --contact-input-border-color);
    color: map-get($light-mode, --contact-input-text-color);
    background-color: map-get($light-mode, --contact-input-bg-color);
  }
  textarea {
    border: 3px solid map-get($light-mode, --contact-input-border-color);
    color: map-get($light-mode, --contact-input-text-color);
    background-color: map-get($light-mode, --contact-input-bg-color);
  }
  .send-button {
    border: 4px solid map-get($light-mode, --cv-button-border-color);
    color: map-get($light-mode, --cv-button-text-color);
    background-color: map-get($light-mode, --bg-cv-button-color);
  }
  .send-button:hover {
    color: map-get($light-mode, --cv-button-text-color-hover);
    background-color: map-get($light-mode, --bg-cv-button-color-hover);
  }
}

.dark {
  .contact-container {
    border-top: 4px solid map-get($dark-mode, --contact-container-border-color);
    border-bottom: 4px solid
      map-get($dark-mode, --contact-container-border-color);
    background-color: map-get($dark-mode, --bg-contact-color);
  }

  .title {
    @media only screen and (min-width: 1024px) {
      -webkit-text-stroke: 3px map-get($dark-mode, --contact-stroke-text-color);   
      }
    color: map-get($dark-mode, --contact-text-color);
  }

  .contact-text {
    color: map-get($dark-mode, --paragraph-contact-color);
  }
  label {
    color: map-get($dark-mode, --contact-label-color);
  }
  input {
    border: 3px solid map-get($dark-mode, --contact-input-border-color);
    color: map-get($dark-mode, --contact-input-text-color);
    background-color: map-get($dark-mode, --contact-input-bg-color);
  }
  textarea {
    border: 3px solid map-get($dark-mode, --contact-input-border-color);
    color: map-get($dark-mode, --contact-input-text-color);
    background-color: map-get($dark-mode, --contact-input-bg-color);
  }
  .send-button {
    border: 4px solid map-get($dark-mode, --cv-button-border-color);
    color: map-get($dark-mode, --cv-button-text-color);
    background-color: map-get($dark-mode, --bg-cv-button-color);
  }
  .send-button:hover {
    border: 4px solid #FEFAE0;
    color: map-get($dark-mode, --cv-button-text-color-hover);
    background-color: map-get($dark-mode, --bg-cv-button-color-hover);
  }
}

.CSM {
  .contact-container {
    border-top: 4px solid map-get($CSM-mode, --contact-container-border-color);
    border-bottom: 4px solid
      map-get($CSM-mode, --contact-container-border-color);
    background-color: map-get($CSM-mode, --bg-contact-color);
  }

  .title {
    @media only screen and (min-width: 1024px) {
      -webkit-text-stroke: 3px map-get($CSM-mode, --contact-stroke-text-color);   
      }
    color: map-get($CSM-mode, --contact-text-color);
  }

  .contact-text {
    color: map-get($CSM-mode, --paragraph-contact-color);
  }
  label {
    color: map-get($CSM-mode, --contact-label-color);
  }
  input {
    border: 3px solid map-get($CSM-mode, --contact-input-border-color);
    color: map-get($CSM-mode, --contact-input-text-color);
    background-color: map-get($CSM-mode, --contact-input-bg-color);
  }
  textarea {
    border: 3px solid map-get($CSM-mode, --contact-input-border-color);
    color: map-get($CSM-mode, --contact-input-text-color);
    background-color: map-get($CSM-mode, --contact-input-bg-color);
  }
  .send-button {
    border: 4px solid map-get($CSM-mode, --cv-button-border-color);
    color: map-get($CSM-mode, --cv-button-text-color);
    background-color: map-get($CSM-mode, --bg-cv-button-color);
  }
  .send-button:hover {
    color: map-get($CSM-mode, --cv-button-text-color-hover);
    background-color: map-get($CSM-mode, --bg-cv-button-color-hover);
  }
}
