@import "./LightDarkMode.scss";

.scrolled {
  visibility: hidden;
}

.cv-button:hover {
  transition: transform 0.3s ease-in-out;
  transform: translateX(-10%);
}

.light {
  .cv-button {
    bottom: 7%;
    right: 2%;

    border: 4px solid map-get($light-mode, --cv-button-border-color);
    color: map-get($light-mode, --cv-button-text-color);
    background-color: map-get($light-mode, --bg-cv-button-color);
  }

  .cv-button:hover {
    color: map-get($light-mode, --cv-button-text-color-hover);
    background-color: map-get($light-mode, --bg-cv-button-color-hover);
  }
}

.dark {
  .cv-button {
    bottom: 7%;
    right: 2%;

    border: 4px solid map-get($dark-mode, --cv-button-border-color);
    color: map-get($dark-mode, --cv-button-text-color);
    background-color: map-get($dark-mode, --bg-cv-button-color);
  }

  .cv-button:hover {
    color: map-get($dark-mode, --cv-button-text-color-hover);
    background-color: map-get($dark-mode, --bg-cv-button-color-hover);
  }
}

.CSM {
  .cv-button {
    bottom: 7%;
    right: 2%;

    border: 4px solid map-get($CSM-mode, --cv-button-border-color);
    color: map-get($CSM-mode, --cv-button-text-color);
    background-color: map-get($CSM-mode, --bg-cv-button-color);
  }

  .cv-button:hover {
    color: map-get($CSM-mode, --cv-button-text-color-hover);
    background-color: map-get($CSM-mode, --bg-cv-button-color-hover);
  }
}
