@import './LightDarkMode.scss';

.cv-button {
    bottom: 7%;
    right: 2%;
    
    border: 4px solid map-get($mode-map, --cv-button-border-color);
    color: map-get($mode-map, --cv-button-text-color);
    background-color: map-get($mode-map, --bg-cv-button-color);
}

.cv-button:hover {
    color: map-get($mode-map, --cv-button-text-color-hover);
    background-color: map-get($mode-map, --bg-cv-button-color-hover);
}