$light-mode: (
  --bg-color: #dec79e,

  //  NAVBAR
  --bg-navbar-color: #adacaa,
  // --bg-navbar-color: #020001,
  --navbar-border-bottom-color: #020001,
  --navbar-link-color: #FBFFFE,
  --navbar-link-color-hover: #020001,
  --navbar-link-bg-color-hover: #dec79e,
  --navbar-link-border-color-hover: #020001,

  --navbar-mobile-bg-button: #020001,
  --navbar-mobile-button-color: #FBFFFE,
  --navbar-mobile-bg-button-hover: #dec79e,
  --navbar-mobile-button-color-hover: #FBFFFE,
  --navbar-mobile-border-color: #FBFFFE,

  --navbar-mobile-link-bg-color-hover: #adacaa,
  --navbar-mobile-link-color: #FBFFFE,
  --navbar-mobile-link-color-hover: #020001,

  //  ABOUT
  --welcom-button-color-1: #adacaa,
  --welcom-button-color-2: #adacaa,
  --welcom-button-border-color: #020001,
  --welcom-button-text-color: #FBFFFE,
  --img-border-color: #FBFFFE,
  --name-text-color: #FBFFFE,
  --text-color: #020001,
  --stroke-text-color: #adacaa,
  --description-text-color: #FBFFFE,
  --connect-button-bg-color: #adacaa,
  --connect-button-text-color: #FBFFFE,
  --connect-button-border-color: #020001,
  --bg-connect-button-color-hover: #dec79e,
  --connect-button-text-color-hover: #020001,

  //PROJECT
  --bg-project-section-color: #FBFFFE,
  --project-title-color: #dec79e,
  --project-intro-color: #020001,
  --project-stroke-text-color: #020001,
  --onglet-projects-color: #dec79e,
  --onglet-projects-border-color: #020001,

  --onglet-link-color-hover: #FBFFFE,
  --onglet-link-bg-color-hover: #dec79e,
  --onglet-link-border-color-hover: #020001,
  --projects-type-text-color: #020001,
  //--PROJECT CARD
  --projectCard-title-color: #dec79e,
  --projectCard-description-color: #020001,
  --projectCard-title-stroke-color: #020001,
  --projectCard-description-bg-color: #dec79e,
  --projectCard-description-border-color: #020001,
  --projectCard-techno-color: #adacaa,

  //  CV BUTTON
  --bg-cv-button-color: #adacaa,
  --cv-button-text-color: #FBFFFE,
  --cv-button-border-color: #020001,
  --bg-cv-button-color-hover: #dec79e,
  --cv-button-text-color-hover: #020001,

  // SOCIAL ICONS
  --line-color: #adacaa,

  // CONTACT FORM
  --bg-contact-color: #adacaa,
  --contact-container-border-color: #020001,
  --contact-text-color: #FBFFFE,
  --paragraph-contact-color: #020001,
  --contact-label-color: #FBFFFE,
  --contact-input-bg-color: #dec79e,
  --contact-input-text-color: #020001,
  --contact-input-border-color: #020001,
  --contact-stroke-text-color: #dec79e,

  //FOOTER
  --bg-footer-color: #dec79e,
  --footer-info-color: #020001,
  --footer-about-color: #FBFFFE,
  --footer-text-color: #020001,
  --footer-copyright-color: #adacaa,
);

$dark-mode: (
  --bg-color: #382922,

  //  NAVBAR
  --bg-navbar-color: #0A210F,
  --navbar-border-bottom-color: #633E29,
  --navbar-link-color: #633E29,
  --navbar-link-color-hover: #FEFAE0,
  --navbar-link-bg-color-hover: #382922,
  --navbar-link-border-color-hover: #633E29,

  --navbar-mobile-bg-button: #382922,
  --navbar-mobile-button-color: #633E29,
  --navbar-mobile-bg-button-hover: #0A210F,
  --navbar-mobile-button-color-hover: #FEFAE0,
  --navbar-mobile-border-color: #633E29,

  --navbar-mobile-link-bg-color-hover: #0A210F,
  --navbar-mobile-link-color: #633E29,
  --navbar-mobile-link-color-hover: #FEFAE0,

  //  ABOUT
  --welcom-button-color-1: #0A210F,
  --welcom-button-color-2: #283618,
  --welcom-button-border-color: #FEFAE0,
  --welcom-button-text-color: #633E29,
  --img-border-color: #0A210F,
  --name-text-color: #FEFAE0,
  --text-color: #633E29,
  --stroke-text-color: #0A210F,
  --description-text-color: #FEFAE0,
  --connect-button-bg-color: #0A210F,
  --connect-button-text-color: #FEFAE0,
  --connect-button-border-color: #633E29,
  --bg-connect-button-color-hover: #382922,
  --connect-button-text-color-hover: #FEFAE0,

  //PROJECT -> PROJECTS.JSX
  --bg-project-section-color: #283618,
  --project-title-color: #633E29,
  --project-intro-color: #FEFAE0,
  --project-stroke-text-color: #0A210F,
  --onglet-projects-color: #633E29,
  --onglet-projects-border-color: #0A210F,
  --onglet-link-color-hover: #FEFAE0,
  --onlget-link-bg-color-hover: #0A210F,
  --onglet-link-border-color-hover: #633E29,
  --projects-type-text-color: #FEFAE0,
  //--PROJECT CARD
  --projectCard-title-color: #633E29,
  --projectCard-description-color: #FEFAE0,
  --projectCard-title-stroke-color: #0A210F,
  --projectCard-description-bg-color: #0A210F,
  --projectCard-description-border-color: #633E29,
  --projectCard-techno-color: #633E29,

  //  CV BUTTON
  --bg-cv-button-color: #0A210F,
  --cv-button-text-color: #FEFAE0,
  --cv-button-border-color: #633E29,
  --bg-cv-button-color-hover: #382922,
  --cv-button-text-color-hover: #FEFAE0,

  // SOCIAL ICONS
  --line-color: #0A210F,
  --icons-color: #633E29,

  // CONTACT FORM
  --bg-contact-color: #0A210F,
  --contact-container-border-color: #633E29,
  --contact-text-color: #FEFAE0,
  --paragraph-contact-color: #FEFAE0,
  --contact-label-color: #633E29,
  --contact-input-bg-color: #382922,
  --contact-input-text-color: #FEFAE0,
  --contact-input-border-color: #FEFAE0,
  --contact-stroke-text-color: #633E29,
  //FOOTER
  --bg-footer-color: #382922,
  --footer-info-color: #FEFAE0,
  --footer-about-color: #633E29,
  --footer-text-color: #FEFAE0,
  --footer-copyright-color: #633E29,
);

$CSM-mode: (
  --bg-color: #586bb8,

  //  NAVBAR
  --bg-navbar-color: #64bd49,
  --navbar-border-bottom-color: #ffff0b,
  --navbar-link-color: #ffff0b,
  --navbar-link-color-hover: #64bd49,
  --navbar-link-bg-color-hover: #586bb8,
  --navbar-link-border-color-hover: #ffff0b,

  --navbar-mobile-bg-button: #586bb8,
  --navbar-mobile-button-color: #fe5455,
  --navbar-mobile-bg-button-hover: #64bd49,
  --navbar-mobile-button-color-hover: #586bb8,
  --navbar-mobile-border-color: #fe5455,

  --navbar-mobile-link-bg-color-hover: #64bd49,
  --navbar-mobile-link-color: #ffff0b,
  --navbar-mobile-link-color-hover: #586bb8,

  //  ABOUT
  --welcom-button-color-1: #fe5455,
  --welcom-button-color-2: #fe5455,
  --welcom-button-border-color: #64bd49,
  --welcom-button-text-color: #586bb8,
  --img-border-color: #64bd49,
  --name-text-color: #64bd49,
  --text-color: #fe5455,
  --stroke-text-color: #000,
  --description-text-color: #ffff0b,
  --connect-button-bg-color: #64bd49,
  --connect-button-text-color: #586bb8,
  --connect-button-border-color: #ffff0b,
  --bg-connect-button-color-hover: #586bb8,
  --connect-button-text-color-hover: #64bd49,

  //PROJECT
  --bg-project-section-color: #fe5455,
  --project-title-color: #586bb8,
  --project-intro-color: #ffff0b,
  --project-stroke-text-color: #000,
  --onglet-projects-color: #64bd49,
  --onglet-projects-border-color: #586bb8,
  --onglet-link-color-hover: #fe5455,
  --onglet-link-bg-color-hover: #586bb8,
  --onglet-link-border-color-hover: #ffff0b,
  --projects-type-text-color: #ffff0b,
  //--PROJECT CARD
  --projectCard-title-color: #586bb8,
  --projectCard-description-color: #64bd49,
  --projectCard-title-stroke-color: #000,
  --projectCard-description-bg-color: #586bb8,
  --projectCard-description-border-color: #ffff0b,
  --projectCard-techno-color: #586bb8,

  // --connect-button-bg-color
  //  CV BUTTON
  --bg-cv-button-color: #64bd49,
  --cv-button-text-color: #586bb8,
  --cv-button-border-color: #ffff0b,
  --bg-cv-button-color-hover: #586bb8,
  --cv-button-text-color-hover: #64bd49,

  // SOCIAL ICONS
  --line-color: #64bd49,

  // CONTACT FORM
  --bg-contact-color: #64bd49,
  --contact-container-border-color: #ffff0b,
  --contact-text-color: #586bb8,
  --paragraph-contact-color: #ffff0b,
  --contact-label-color: #fe5455,
  --contact-input-bg-color: #586bb8,
  --contact-input-text-color: #ffff0b,
  --contact-input-border-color: #ffff0b,
  --contact-stroke-text-color: #000,

  //FOOTER
  --bg-footer-color: #586bb8,
  --footer-info-color: #ffff0b,
  --footer-about-color: #fe5455,
  --footer-text-color: #64bd49,
  --footer-copyright-color: #ffff0b,
);
