@import "./LightDarkMode.scss";

.light {
  .nav {
    background-color: map-get($light-mode, --bg-navbar-color);
  }

  .nav-container {
    border-bottom: 4px solid map-get($light-mode, --navbar-border-bottom-color);
  }

  .nav-link {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    letter-spacing: 1px;

    color: map-get($light-mode, --navbar-link-color);
  }

  .nav-link:hover {
    color: map-get($light-mode, --navbar-link-color-hover);
    background-color: map-get($light-mode, --navbar-link-bg-color-hover);
    border: 2px solid map-get($light-mode, --navbar-link-border-color-hover);
  }

  .nav-mobile-button {
    color: map-get($light-mode, --navbar-mobile-button-color);
    background-color: map-get($light-mode, --navbar-mobile-bg-button);
    border: 2px solid map-get($light-mode, --navbar-mobile-border-color);
  }
  .nav-mobile-button:hover {
    color: map-get($light-mode, --navbar-mobile-button-color-hover);
    background-color: map-get($light-mode, --navbar-mobile-bg-button-hover);
  }

  .nav-mobile-link {
    color: map-get($light-mode, --navbar-mobile-link-color);
  }

  .nav-mobile-link:hover {
    color: map-get($light-mode, --navbar-mobile-link-color-hover);
    background-color: map-get($light-mode, --navbar-mobile-link-bg-color-hover);
  }
}

.dark {
  .nav {
    background-color: map-get($dark-mode, --bg-navbar-color);
  }

  .nav-container {
    border-bottom: 4px solid map-get($dark-mode, --navbar-border-bottom-color);
  }

  .nav-link {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    letter-spacing: 1px;

    color: map-get($dark-mode, --navbar-link-color);
  }

  .nav-link:hover {
    color: map-get($dark-mode, --navbar-link-color-hover);
    background-color: map-get($dark-mode, --navbar-link-bg-color-hover);
    border: 2px solid map-get($dark-mode, --navbar-link-border-color-hover);
  }

  .nav-mobile-button {
    color: map-get($dark-mode, --navbar-mobile-button-color);
    background-color: map-get($dark-mode, --navbar-mobile-bg-button);
    border: 2px solid map-get($dark-mode, --navbar-mobile-border-color);
  }
  .nav-mobile-button:hover {
    color: map-get($dark-mode, --navbar-mobile-button-color-hover);
    background-color: map-get($dark-mode, --navbar-mobile-bg-button-hover);
  }

  .nav-mobile-link {
    color: map-get($dark-mode, --navbar-mobile-link-color);
  }

  .nav-mobile-link:hover {
    color: map-get($dark-mode, --navbar-mobile-link-color-hover);
    background-color: map-get($dark-mode, --navbar-mobile-link-bg-color-hover);
  }
}

.CSM {
  .nav {
    background-color: map-get($CSM-mode, --bg-navbar-color);
  }

  .nav-container {
    border-bottom: 4px solid map-get($CSM-mode, --navbar-border-bottom-color);
  }

  .nav-link {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    letter-spacing: 1px;

    color: map-get($CSM-mode, --navbar-link-color);
  }

  .nav-link:hover {
    color: map-get($CSM-mode, --navbar-link-color-hover);
    background-color: map-get($CSM-mode, --navbar-link-bg-color-hover);
    border: 2px solid map-get($CSM-mode, --navbar-link-border-color-hover);
  }

  .nav-mobile-button {
    color: map-get($CSM-mode, --navbar-mobile-button-color);
    background-color: map-get($CSM-mode, --navbar-mobile-bg-button);
    border: 2px solid map-get($CSM-mode, --navbar-mobile-border-color);
  }
  .nav-mobile-button:hover {
    color: map-get($CSM-mode, --navbar-mobile-button-color-hover);
    background-color: map-get($CSM-mode, --navbar-mobile-bg-button-hover);
  }

  .nav-mobile-link {
    color: map-get($CSM-mode, --navbar-mobile-link-color);
  }

  .nav-mobile-link:hover {
    color: map-get($CSM-mode, --navbar-mobile-link-color-hover);
    background-color: map-get($CSM-mode, --navbar-mobile-link-bg-color-hover);
  }
}
