.project-card {
	height: 100%;
	width: 100%;
	position: absolute;
	margin-top: 250px;
}

.title {
	border-bottom: 4px solid #FFFBDC;
	border-top: 4px solid #FFFBDC;
}

.moving-title {
	height: 75px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	transform: translate3d(0, 0, 0);
  }
  
  .moving-title > div {
	font-size: 45px;
	/* height: 350px; */
	/* width: 1400px; */
	/* width: 100%; */
	width: 100%;
	/* background: url(../assets/img/banner.png); */
	/* background-size: contain; */
	position: absolute;
	top: 0;
	left: 0;
	/* height: 100%; */
	transform: translate3d(0, 0, 0);
  }
  .moving-title .title-mover {
	animation: moveTitle 8s linear infinite;
  }
  
  @keyframes moveTitle {
	100% { 
	  transform: translateX(100%);  
	  /* transform: translateX(66.6666%);   */
	}
  }



  .moving-banner {
	height: 350px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	transform: translate3d(0, 0, 0);
  }
  
  .moving-banner > div {
	height: 350px;
	width: 6575px;
	background: url(../assets/img/banner.png);
	background-size: contain;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	transform: translate3d(0, 0, 0);
	opacity: 0.3;
  }


  .moving-banner .mover:hover {
	opacity: 1;
  }

  .moving-banner .mover {
	animation: moveBanner 80s linear infinite;
  }
  
  @keyframes moveBanner {
	100% { 
	  transform: translateX(-66.6666%);  
	}
  }