@import "./LightDarkMode.scss";

.project-card {
  height: 100%;
  width: 100%;
  position: absolute;
  margin-top: 250px;
}

.projects-title {
  letter-spacing: 2px;
  transition: 0.3ms ease-in-out;
}

.onglet-project {
  left: 5%;
  right: 5%;
}
// .cube {
//   position: relative;
//   width: 350px;
//   height: 350px;
//   transform-style: preserve-3d;
// }

// .cube div {
//   position: absolute;
//   top: 0%;
//   left: 0%;
//   width: 100%;
//   height: 100%;
//   transform-style: preserve-3d;
//   transform: rotateX(-30deg);
//   animation: cubeRotate 40s linear infinite;
// }

@keyframes cubeRotate {
  0% {
    transform: rotateX(-30deg) rotateY(0deg);
  }
  100% {
    transform: rotateX(-30deg) rotateY(360deg);
  }
}


// .cube div span {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   // background: #5f5757;
//   // background-image: url("../assets/img/fdf-1.png");
//   // background-repeat: no-repeat;
//   // background-position: center;
//   // background-size: cover;
//   // transform: `rotate3d(1, 1, 1, ${180}deg)`;
//   // transform: rotateY(calc(90deg * var(--i))translateZ(150px));
// }

.light {
  .project-tabs-page {
    background-color: map-get($light-mode, --bg-project-section-color);
    border-top: 4px solid map-get($light-mode, --contact-container-border-color);
  }
  .projects-title {
    @media only screen and (min-width: 1024px) {
      -webkit-text-stroke: 3px map-get($light-mode, --project-stroke-text-color);
    }
    color: map-get($light-mode, --project-title-color);
  }
  .project-intro {
    color: map-get($light-mode, --project-intro-color);
  }
  .onglet-project {
    color: map-get($light-mode, --onglet-projects-color);
    // border-bottom: 3px solid map-get($light-mode, --onglet-projects-bg-color);
    background-color: transparent;
  }
  .onglet-project:hover {
    color: map-get($light-mode, --onglet-projects-color);
    border-bottom: 3px solid map-get($light-mode, --onglet-projects-bg-color);
    transition: transform 0.4s ease-in-out;
  }
  .projects-text {
    color: map-get($light-mode, --projects-type-text-color);
  }
}

.dark {
  .project-tabs-page {
    background-color: map-get($dark-mode, --bg-project-section-color);
    border-top: 4px solid map-get($dark-mode, --contact-container-border-color);
  }
  .projects-title {
    @media only screen and (min-width: 1024px) {
      -webkit-text-stroke: 3px map-get($dark-mode, --project-stroke-text-color);
    }
    color: map-get($dark-mode, --project-title-color);
  }
  .project-intro {
    color: map-get($dark-mode, --project-intro-color);
  }
  .onglet-project {
    color: map-get($dark-mode, --onglet-projects-color);
    // background-color: map-get($dark-mode, --onglet-projects-bg-color);
    background-color: transparent;
  }
  .onglet-project:hover {
    color: map-get($dark-mode, --onglet-projects-color);
    border-bottom: 3px solid map-get($dark-mode, --onglet-projects-bg-color);
    
    transition: transform 0.4s ease-in-out;
  }
  .projects-text {
    color: map-get($dark-mode, --projects-type-text-color);
  }
}

.CSM {
  .project-tabs-page {
    background-color: map-get($CSM-mode, --bg-project-section-color);
    border-top: 4px solid map-get($CSM-mode, --contact-container-border-color);
  }
  .projects-title {
    @media only screen and (min-width: 1024px) {
      -webkit-text-stroke: 3px map-get($CSM-mode, --project-stroke-text-color);
    }
    color: map-get($CSM-mode, --project-title-color);
  }
  .project-intro {
    color: map-get($CSM-mode, --project-intro-color);
  }
  .onglet-project {
    color: map-get($CSM-mode, --onglet-projects-color);
    // background-color: map-get($CSM-mode, --onglet-projects-bg-color);
    background-color: transparent;
  }
  .onglet-project:hover {
    color: map-get($CSM-mode, --onglet-projects-color);
    border-bottom: 3px solid map-get($CSM-mode, --onglet-projects-bg-color);
    transition: transform 0.4s ease-in-out;
  }
  .projects-text {
    color: map-get($CSM-mode, --projects-type-text-color);
  }
}
