.project-card {
	height: 100%;
	width: 100%;
	position: absolute;
	margin-top: 250px;
}

.project-title {
	font-family: "Spy";
	// color: #071D88;
}

/* .title {
	border-bottom: 4px solid #FFFBDC;
	border-top: 4px solid #FFFBDC;
} */



