.icons-card {
	top: 50%;
}

.vl {
	// border-left: 2px solid #071d88;
	border-left: 2px solid #6b7891;
	height: 130px;
	transform: translateX(50%);
	// opacity: 50%;
	margin-top: 16px;
	margin-bottom: 16px;
}