@import './LightDarkMode.scss';

.theme-button {
  /* Create a square. */
  height: 30px;
  width: 30px;
  
  /* Add a bit of spacing. */
  margin: 10px 5px 0 0;

  /* We don't want to show the left and right borders. */
  border-right: 0;
  border-left: 0;
  
  /* And, remove the space between the top and bottom border. */
  padding: 0;
  /* Give a small box-shadow to create a border-like appearance around the buttons. */
  box-shadow: 0 0 3px gray;
}

.theme-button.light-button {

    border-top: 15px solid map-get($light-mode, --bg-color);
    border-bottom: 15px solid map-get($light-mode, --navbar-link-color);;
}

.theme-button.dark-button {

  border-top: 15px solid map-get($dark-mode, --bg-navbar-color);
  border-bottom: 15px solid map-get($dark-mode, --navbar-link-color);;
}

.theme-button.CSM-button {

  border-top: 15px solid map-get($CSM-mode, --bg-color);
  border-bottom: 15px solid map-get($CSM-mode, --navbar-link-color);;
}