@tailwind base;
@tailwind components;
@tailwind utilities;
@import './style/LightDarkMode.scss';

// :root {

// }

body {
  height: 100%;
  width: 100%;
  /* background-color: #FFFBDC; */
  background-color: map-get($mode-map, --bg-color);
  /* background-image: url(./assets/img/salon.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; */
}